<h1 class="error">Page Not Found!</h1>
<p>I tried very hard to find what you're after, I really did. If you ever find what you were looking for, maybe you'd like to add it this website by contributing to <a href="http://github.com/wardrop/scorchedrb.com">ScorchedRb.com on GitHub.</a></p>